<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>歌石投资</title>
    <link rel="stylesheet" href="../css/cube.css">
    <link rel="stylesheet" href="../css/flexslider.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="../js/jquery.min.js"></script>
</head>
<body>

<!--顶部-->
<header class="clearfix i-header">
    <div class="h-logo">
        <h1><a href="index.html"><img src="../images/logo-img.png" alt="歌石投资"></a></h1>
    </div>
    <div class="menuBtn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="i-h-right">
        <a class="i-language" href="">EN</a>
        <span class="i-phone">咨询电话：010-63703500</span>
        <a href="" class="i-search"></a>
    </div>
    <nav class="i-nav">
        <span class="menuClose">×</span>
        <a href="gywm.html">关于歌石</a>
        <a href="gstd.html">歌石团队</a>
        <a href="tzpt.html">投资平台</a>
        <a href="tzal.html">投资案例</a>
        <a href="gsdt.html">公司动态</a>
        <a href="lxwm.html">联系我们</a>
        <span class="i-phone">咨询电话：010-63703500</span>
    </nav>
    <div class="sj-back-0"></div>
</header>
<div class="h-100 h-100-h"></div>

<main class="main">
    <!--轮播图-->
    <section class="n-banner" style="background-image: url('../images/dt-banner.jpg')"></section>
    <!--内页导航-->
    <section class="InsideNavigation">
        <div class="container clearfix po-r">
            <ul class="taxon clearfix">
                <li class="on"><a href="javascript:;">公司动态</a></li>
            </ul>
            <div class="breadNav fr">
                <a href="">首页</a>&gt;<span>公司动态</span>
            </div>
        </div>
    </section>
    <!--公司动态-列表-->
    <section class="news-content container row">
        <div class="col-6 pic-warp">
            <div class="flexslider flexslider4">
                <ul class="slides">
                    <li>
                        <a href="">
                            <img src="../images/news-content-pic-1.png" alt="">
                            <h4>西藏珠峰关于股东增持公司股份计划的公告</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/news-content-pic-1.png" alt="">
                            <h4>西藏珠峰关于股东增持公司股份计划的公告</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="col-6 list-warp">
            <li>
                <a href="">
                    <h3>南京越博动力系统股份有限公司（首发）获通过</h3>
                    <h5>2018-09-21</h5>
                    <p>中国证券监督管理委员会第十七届发行审核委员会2018年第4次发审委会议于2018年1月3日召开，南京越博动力系统股份有限公司（首发）获通过。南京越博动力系统股份有限公司（以下简称“南京越博”）</p>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>南京越博动力系统股份有限公司（首发）获通过</h3>
                    <h5>2018-09-21</h5>
                    <p>中国证券监督管理委员会第十七届发行审核委员会2018年第4次发审委会议于2018年1月3日召开，南京越博动力系统股份有限公司（首发）获通过。南京越博动力系统股份有限公司（以下简称“南京越博”）</p>
                </a>
            </li>
        </ul>
    </section>
    <!--公司动态-列表-->
    <section class="news-list container">
        <ul class="news-list-ul">
            <li>
                <a href="xq.html">
                    <div class="row">
                        <div class="pic-warp"><img src="../images/news-list-pic.png" alt=""></div>
                        <div class="text-warp">
                            <h3>上海歌金圆满完成三夫户外定增，一举成为三夫户外第三大股东</h3>
                            <p>北京三夫户外用品股份有限公司（简称三夫户外）创始于1997年，主要经营户外用品零售业务，同时开展多种户外活动赛事及户外营地业务，2015年在中小板上市，是目前国内户外用品零售领域唯一的上市公司。公司秉承“运动·快乐·梦想”的服务宗旨，倡导运动健康理念，致力于成为中国户外生活的引领者！</p>
                            <h5>2017-01-24</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="xq.html">
                    <div class="row">
                        <div class="pic-warp"><img src="../images/news-list-pic.png" alt=""></div>
                        <div class="text-warp">
                            <h3>上海歌金圆满完成三夫户外定增，一举成为三夫户外第三大股东</h3>
                            <p>北京三夫户外用品股份有限公司（简称三夫户外）创始于1997年，主要经营户外用品零售业务，同时开展多种户外活动赛事及户外营地业务，2015年在中小板上市，是目前国内户外用品零售领域唯一的上市公司。公司秉承“运动·快乐·梦想”的服务宗旨，倡导运动健康理念，致力于成为中国户外生活的引领者！</p>
                            <h5>2017-01-24</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="xq.html">
                    <div class="row">
                        <div class="pic-warp"><img src="../images/news-list-pic.png" alt=""></div>
                        <div class="text-warp">
                            <h3>上海歌金圆满完成三夫户外定增，一举成为三夫户外第三大股东</h3>
                            <p>北京三夫户外用品股份有限公司（简称三夫户外）创始于1997年，主要经营户外用品零售业务，同时开展多种户外活动赛事及户外营地业务，2015年在中小板上市，是目前国内户外用品零售领域唯一的上市公司。公司秉承“运动·快乐·梦想”的服务宗旨，倡导运动健康理念，致力于成为中国户外生活的引领者！</p>
                            <h5>2017-01-24</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="xq.html">
                    <div class="row">
                        <div class="pic-warp"><img src="../images/news-list-pic.png" alt=""></div>
                        <div class="text-warp">
                            <h3>上海歌金圆满完成三夫户外定增，一举成为三夫户外第三大股东</h3>
                            <p>北京三夫户外用品股份有限公司（简称三夫户外）创始于1997年，主要经营户外用品零售业务，同时开展多种户外活动赛事及户外营地业务，2015年在中小板上市，是目前国内户外用品零售领域唯一的上市公司。公司秉承“运动·快乐·梦想”的服务宗旨，倡导运动健康理念，致力于成为中国户外生活的引领者！</p>
                            <h5>2017-01-24</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="xq.html">
                    <div class="row">
                        <div class="pic-warp"><img src="../images/news-list-pic.png" alt=""></div>
                        <div class="text-warp">
                            <h3>上海歌金圆满完成三夫户外定增，一举成为三夫户外第三大股东</h3>
                            <p>北京三夫户外用品股份有限公司（简称三夫户外）创始于1997年，主要经营户外用品零售业务，同时开展多种户外活动赛事及户外营地业务，2015年在中小板上市，是目前国内户外用品零售领域唯一的上市公司。公司秉承“运动·快乐·梦想”的服务宗旨，倡导运动健康理念，致力于成为中国户外生活的引领者！</p>
                            <h5>2017-01-24</h5>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</main>


<footer class="i-footer">
    <div class="i-footer-top">
        <div class="row container">
            <div class="col-10 row">
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>关于歌石</h3>
                        <div class="link">
                            <a href="">公司简介</a>
                            <a href="">公司理念</a>
                            <a href="">关注行业</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>歌石团队</h3>
                        <div class="link">
                            <a href="">歌石团队</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>投资平台</h3>
                        <div class="link">
                            <a href="">投资平台</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>投资案例</h3>
                        <div class="link">
                            <a href="">投资案例</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>公司动态</h3>
                        <div class="link">
                            <a href="">公司动态</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>联系我们</h3>
                        <div class="link">
                            <a href="">加入我们</a>
                            <a href="">联系方式</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="ew-warp">
                    <div class="er-pic"><img src="../images/er-pic-130.png" alt=""></div>
                    <h4>歌石投资官网微信</h4>
                    <div class="link-fs clearfix">
                        <a href=""><i class="icon-f icon-f-wx"></i></a>
                        <a href=""><i class="icon-f icon-f-wb"></i></a>
                        <a href=""><i class="icon-f icon-f-qq"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="i-footer-bottom">
        <div class="container clearfix">
            <div class="fl">
                <div class="links">
                    <a href="">网站地图</a>
                    <a href="">法律声明</a>
                    <a href="">隐私保护</a>
                    <a href="">联系我们</a>
                </div>
                <div class="copy">
                    Copyright 2016 版权所有 歌石投资 京ICP备10213903号-3 <img src="../images/pic-cnzz.jpg" alt="">
                </div>
            </div>
            <div class="fr">
                <div class="select-warp">
                    <div class="select-t">友情链接</div>
                    <ul class="select-ul">
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="goTop" id="goTop" href="javascript:;"><img src="../images/goTop.jpg" alt=""></a>
<!--公共js-->
<script type="text/javascript" charset="utf-8" src="../js/commonality.js"></script>

<!-- 轮播 -->

<script type="text/javascript" charset="utf-8" src="../js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".flexslider4").flexslider({
            animation: "slide",
            slideshowSpeed: 40000, //展示时间间隔ms
            animationSpeed: 500, //滚动时间ms
            touch: true //是否支持触屏滑动
        });
    });
</script>

</body>
</html>