<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>歌石投资</title>
    <link rel="stylesheet" href="../css/cube.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="../js/jquery.min.js"></script>
</head>
<body>

<!--顶部-->
<header class="clearfix i-header">
    <div class="h-logo">
        <h1><a href="index.html"><img src="../images/logo-img.png" alt="歌石投资"></a></h1>
    </div>
    <div class="menuBtn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="i-h-right">
        <a class="i-language" href="">EN</a>
        <span class="i-phone">咨询电话：010-63703500</span>
        <a href="" class="i-search"></a>
    </div>
    <nav class="i-nav">
        <span class="menuClose">×</span>
        <a href="gywm.html">关于歌石</a>
        <a href="gstd.html">歌石团队</a>
        <a href="tzpt.html">投资平台</a>
        <a href="tzal.html">投资案例</a>
        <a href="gsdt.html">公司动态</a>
        <a href="lxwm.html">联系我们</a>
        <span class="i-phone">咨询电话：010-63703500</span>
    </nav>
    <div class="sj-back-0"></div>
</header>
<div class="h-100 h-100-h"></div>

<main class="main">
    <!--轮播图-->
    <section class="n-banner" style="background-image: url('../images/al-banner.jpg')"></section>
    <!--内页导航-->
    <section class="InsideNavigation">
        <div class="container clearfix po-r">
            <ul class="taxon clearfix">
                <li class="on"><a href="javascript:;">歌石团队</a></li>
            </ul>
            <div class="breadNav fr">
                <a href="index.html">首页</a>&gt;<span>歌石团队</span>
            </div>
        </div>
    </section>
    <!--公司动态-列表-->
    <section class="team-list container">
        <ul class="list clearfix">
            <li class="fl clearfix">
                <a href="#inline1" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>1总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline1" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>1李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline2" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>2总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline2" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>2李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline3" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>3总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline3" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>3李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline4" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>4总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline4" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>4李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline5" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>5总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline5" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>5李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline6" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>6总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline6" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>6李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline7" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>7总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline7" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>7李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline8" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>8总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline8" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>8李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline9" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>9总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline9" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>9李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fl clearfix">
                <a href="#inline10" rel="inline-980-560"  class="pirobox_gall1" title="Inline">
                    <div class="fl pic1-warp1"><img src="../images/pic-240-290.jpg" alt=""></div>
                    <div class="text-warp1">
                        <h4>10总裁 李蓓蓓</h4>
                        <div class="text1">
                            <p>37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。</p>
                            <p>李女士拥有管理学及英语文学双学士学位。加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，</p>
                        </div>
                    </div>
                </a>
                <div id="inline10" style="display:none; background:white;">
                    <div class="fl pic1-warp2"><img src="../images/pic-365-365.jpg" alt=""></div>
                    <div class="fl text-warp2">
                        <h4>10李蓓蓓</h4>
                        <h5>总裁</h5>
                        <div class="text1">
                            <p>李蓓蓓女士，37岁，为本公司副总裁，主要负责歌石投资全球品牌管理事务。李女士拥有管理学及英语文学双学士学位。</p>
                            <p>加入本公司前，她先后任职于博雅公关、伟达公关以及UPS，在公共关系、政府关系及企业社会责任方面有着丰富经验。</p>
                            <p>李女士于2009年7月加入本公司，曾任公共事务部总监，负责上市公司的日常公关、品牌管理、公司整合形象传播危机公关、媒体关系、企业社会责任、投资者关系等。她于2016年1月获委任为本公司的副总裁。</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</main>


<footer class="i-footer">
    <div class="i-footer-top">
        <div class="row container">
            <div class="col-10 row">
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>关于歌石</h3>
                        <div class="link">
                            <a href="">公司简介</a>
                            <a href="">公司理念</a>
                            <a href="">关注行业</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>歌石团队</h3>
                        <div class="link">
                            <a href="">歌石团队</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>投资平台</h3>
                        <div class="link">
                            <a href="">投资平台</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>投资案例</h3>
                        <div class="link">
                            <a href="">投资案例</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>公司动态</h3>
                        <div class="link">
                            <a href="">公司动态</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>联系我们</h3>
                        <div class="link">
                            <a href="">加入我们</a>
                            <a href="">联系方式</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="ew-warp">
                    <div class="er-pic"><img src="../images/er-pic-130.png" alt=""></div>
                    <h4>歌石投资官网微信</h4>
                    <div class="link-fs clearfix">
                        <a href=""><i class="icon-f icon-f-wx"></i></a>
                        <a href=""><i class="icon-f icon-f-wb"></i></a>
                        <a href=""><i class="icon-f icon-f-qq"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="i-footer-bottom">
        <div class="container clearfix">
            <div class="fl">
                <div class="links">
                    <a href="">网站地图</a>
                    <a href="">法律声明</a>
                    <a href="">隐私保护</a>
                    <a href="">联系我们</a>
                </div>
                <div class="copy">
                    Copyright 2016 版权所有 歌石投资 京ICP备10213903号-3 <img src="../images/pic-cnzz.jpg" alt="">
                </div>
            </div>
            <div class="fr">
                <div class="select-warp">
                    <div class="select-t">友情链接</div>
                    <ul class="select-ul">
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="goTop" id="goTop" href="javascript:;"><img src="../images/goTop.jpg" alt=""></a>
<!--公共js-->
<script type="text/javascript" charset="utf-8" src="../js/commonality.js"></script>


<!-- 轮播 -->

<script type="text/javascript" src="../js/jquery.min1.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="../js/pirobox_extended.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $().piroBox_ext({
            piro_speed : 700,
            bg_alpha : 0.8,
            piro_scroll : true // pirobox always positioned at the center of the page
        });
    });
</script>


</body>
</html>