<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>歌石投资</title>
    <link rel="stylesheet" href="../css/cube.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="../js/jquery.min.js"></script>
</head>
<body>

<!--顶部-->
<header class="clearfix i-header">
    <div class="h-logo">
        <h1><a href="index.html"><img src="../images/logo-img.png" alt="歌石投资"></a></h1>
    </div>
    <div class="menuBtn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="i-h-right">
        <a class="i-language" href="">EN</a>
        <span class="i-phone">咨询电话：010-63703500</span>
        <a href="" class="i-search"></a>
    </div>
    <nav class="i-nav">
        <span class="menuClose">×</span>
        <a href="gywm.html">关于歌石</a>
        <a href="gstd.html">歌石团队</a>
        <a href="tzpt.html">投资平台</a>
        <a href="tzal.html">投资案例</a>
        <a href="gsdt.html">公司动态</a>
        <a href="lxwm.html">联系我们</a>
        <span class="i-phone">咨询电话：010-63703500</span>
    </nav>
    <div class="sj-back-0"></div>
</header>
<div class="h-100 h-100-h"></div>

<main class="main">
    <!--轮播图-->
    <section class="n-banner" style="background-image: url('../images/gy-banner.jpg')"></section>
    <!--内页导航-->
    <section class="InsideNavigation">
        <div class="container clearfix po-r">
            <ul class="taxon clearfix">
                <li class="on"><a id="a1" href="javascript:;">歌石简介</a></li>
                <li><a id="a2" href="javascript:;">歌石理念</a></li>
                <li><a id="a3" href="javascript:;">关注行业</a></li>
            </ul>
            <div class="breadNav fr">
                <a href="">首页</a>&gt;<span>歌石简介</span>
            </div>
        </div>
    </section>

    <!--公司动态-列表-->
    <section class="about-warp1" id="row1">
        <div class="container">
            <h3 class="a-title">公司概况</h3>
            <div class="row">
                <div class="pic-warp"><img src="../images/about-pic-465-350.png" alt=""></div>
                <div class="text-warp">
                    <p>歌石投资(NextView Capital) 成立于2010年，总部设在北京，并在上海、深圳、天津、南京等地分别设立了投资运营平台，覆盖国内最具经济活力和创新能力的区域。秉承稳健审慎、专业高效的原则，歌石投资专注于海内外市场，与国内银行和证券公司等中介机构保持友好积极的合作。</p>
                    <p>歌石核心团队具有成功的创业经历和丰富的科技、新能源、环保等领域的投资经验。团队成员曾先后投资并帮助多家公司成功上市：远望谷（002161）、西部矿业（601168）、汉王科技（002362）、达华智能（002512）、思源电气（002028）。凭借自身丰富的经验，歌石团队致力于通过资本和管理创新帮助创业者创立领先企业，最终实现社会、企业和投资者共创多赢。</p>
                    <p>歌石投资重点关注TMT、资源、环境和消费等领域并设有专业的投资团队进行长期研究、跟踪和投资。自2010年成立至今歌石投资已成功完成多起项目投资，并与远望谷、汉王科技等上市公司分别合作设立产业投资基金，成功引入上海、南京政府引导基金，积极在资本市场布局，和上市公司共同打造多元发展模式。 </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-warp2" id="row2">
        <div class="container">
            <h3 class="a-title">公司概况</h3>
            <div class="about-warp2-row clearfix">
                <div class="pic"><img src="../images/about-warp2-pic-500-310.jpg" alt=""></div>
                <div class="text">
                    <h4>投资价值</h4>
                    <div class="text1">
                        <p>运用业界最佳实践协助客户对核心战略目标进行分解，寻找有价值的数据，通过对数据的分析，开发新型的企业级应用软件，打通客户从内部到外部的链接，助力客户进行业务创新。帮助客户运用数据驱动业务，在快速变化的市场和竞争环境下真正把握用户的需求，提供更满意的产品和服务，获得更高收益。</p>
                        <p>歌石投资专注于数据技术领域，运用数据技术驱动行业变革，让数据对客户、对社会发挥最大价值，让人类享受生活便捷之美。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-warp3" id="row3">
        <div class="container">
            <h3 class="a-title">关注行业</h3>
            <ul class="row clearfix">
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>
                <li class="col-3"><div class="pic"><a href=""><img src="../images/pic-285-160.jpg" alt=""></a></div></li>

            </ul>
        </div>
    </section>
</main>


<footer class="i-footer">
    <div class="i-footer-top">
        <div class="row container">
            <div class="col-10 row">
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>关于歌石</h3>
                        <div class="link">
                            <a href="">公司简介</a>
                            <a href="">公司理念</a>
                            <a href="">关注行业</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>歌石团队</h3>
                        <div class="link">
                            <a href="">歌石团队</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>投资平台</h3>
                        <div class="link">
                            <a href="">投资平台</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>投资案例</h3>
                        <div class="link">
                            <a href="">投资案例</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>公司动态</h3>
                        <div class="link">
                            <a href="">公司动态</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>联系我们</h3>
                        <div class="link">
                            <a href="">加入我们</a>
                            <a href="">联系方式</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="ew-warp">
                    <div class="er-pic"><img src="../images/er-pic-130.png" alt=""></div>
                    <h4>歌石投资官网微信</h4>
                    <div class="link-fs clearfix">
                        <a href=""><i class="icon-f icon-f-wx"></i></a>
                        <a href=""><i class="icon-f icon-f-wb"></i></a>
                        <a href=""><i class="icon-f icon-f-qq"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="i-footer-bottom">
        <div class="container clearfix">
            <div class="fl">
                <div class="links">
                    <a href="">网站地图</a>
                    <a href="">法律声明</a>
                    <a href="">隐私保护</a>
                    <a href="">联系我们</a>
                </div>
                <div class="copy">
                    Copyright 2016 版权所有 歌石投资 京ICP备10213903号-3 <img src="../images/pic-cnzz.jpg" alt="">
                </div>
            </div>
            <div class="fr">
                <div class="select-warp">
                    <div class="select-t">友情链接</div>
                    <ul class="select-ul">
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="goTop" id="goTop" href="javascript:;"><img src="../images/goTop.jpg" alt=""></a>
<!--公共js-->
<script type="text/javascript" charset="utf-8" src="../js/commonality.js"></script>


<!--跳到指定位置-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#a1").click(function() {
            $("html, body").animate({
                scrollTop: $("#row1").offset().top }, {duration: 500,easing: "swing"});
            return false;
        });
        $("#a2").click(function() {
            $("html, body").animate({
                scrollTop: $("#row2").offset().top }, {duration: 500,easing: "swing"});
            return false;
        });
        $("#a3").click(function() {
            $("html, body").animate({
                scrollTop: $("#row3").offset().top }, {duration: 500,easing: "swing"});
            return false;
        });
    });
</script>

</body>
</html>