<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>歌石投资</title>
    <link rel="stylesheet" href="../css/cube.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/flexslider.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="../js/jquery.min.js"></script>
</head>
<body>
<!--顶部-->
<header class="clearfix i-header">
    <div class="h-logo">
        <h1><a href="index.html"><img src="../images/logo-img.png" alt="歌石投资123"></a></h1>
    </div>
    <div class="menuBtn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="i-h-right">
        <a class="i-language" href="">EN</a>
        <span class="i-phone">咨询电话：010-63703500</span>
        <a href="" class="i-search"></a>
    </div>
    <nav class="i-nav">
        <span class="menuClose">×</span>
        <a href="gywm.html">关于歌石</a>
        <a href="gstd.html">歌石团队</a>
        <a href="tzpt.html">投资平台</a>
        <a href="tzal.html">投资案例</a>
        <a href="gsdt.html">公司动态</a>
        <a href="lxwm.html">联系我们</a>
        <span class="i-phone">咨询电话：010-63703500</span>
    </nav>
    <div class="sj-back-0"></div>
</header>
<div class="h-100 h-100-h"></div>

<main class="main">
    <!--轮播图-->
    <section class="banner pc-banner">
        <div class="flexslider flexslider1">
            <ul class="slides">
                <li>
                    <img src="../images/banner-1.jpg" alt="">
                    <div class="sld-text sld-text1">
                        <div class="container">
                            <h3>创新、价值、协作、人文</h3>
                            <p>以提供安全快捷、稳定可靠的投资平台为目标，积极服务于个人与企业客户，力争为我国投资事业的腾飞做出积极贡献。</p>
                            <a class="slidesBtn" href="">了解更多</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../images/banner-1.jpg" alt="">
                    <div class="sld-text sld-text1">
                        <div class="container">
                            <h3>创新、价值、协作、人文</h3>
                            <p>以提供安全快捷、稳定可靠的投资平台为目标，积极服务于个人与企业客户，力争为我国投资事业的腾飞做出积极贡献。</p>
                            <a class="slidesBtn" href="">了解更多</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="banner pb-banner">
        <div class="flexslider flexslider1">
            <ul class="slides">
                <li><img src="../images/banner-pb-1.jpg" alt=""></li>
                <li><img src="../images/banner-pb-1.jpg" alt=""></li>
            </ul>
        </div>
    </section>
    <!--公告-->
    <section class="i-notice ">
        <div class="container">
            <div class="flexslider flexslider2">
                <ul class="slides">
                    <li>
                        <a href=""><div class="text">歌石控股公司将收购加拿大上市公司LITHIUM X ENERGY CORP.全部股份全部股份全部股份全部股份全部股份</div></a>
                    </li>
                    <li>
                        <a href=""><div class="text">拿大上市公司LITHIUM 拿大上市公司LITHIUM X ENERGY CORP.拿大上市公司LITHIUM拿大上市公司LITHIUM拿大上市公司LITHIUM</div></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--我们的理念-->
    <section class="i-idea">
        <div class="container">
            <div class="i-title wow fadeInUp animated" data-wow-duration="1.5s">
                <h3>Our idea</h3>
                <h4>我们的理念</h4>
            </div>
            <div class="text wow fadeInUp animated" data-wow-duration="1.5s">
                <b>标准：</b>诚实正直是我们的工作原则，秉承这一原则，坚守最严格的职业和道德标准。<br>
                <b>创造：</b>最大的商业价值是我们的追求，共享资源，形成具有整合作用的外延价值链。<br>
                <b>判断：</b>稳健审慎是我们的经营理念，保持冷静判断，严格控制每笔投资。<br>
                专业高效是我们的方向，精益求精，追求最佳标准。<br>
                共创多赢是我们的利益基础，在企业快速发展的基础上获取投资回报。
            </div>
            <div class=" wow fadeInUp animated" data-wow-duration="1.5s">
                <a class="btn1" href="">查看详细</a>
            </div>

        </div>
    </section>
    <!--关注的行业-->
    <section class="i-concern">
        <div class="container">
            <div class="i-title wow fadeInUp animated" data-wow-duration="1.5s">
                <h3>An industry of concern</h3>
                <h4>关注的行业</h4>
                <p>作为专业化的投资管理机构，歌石投资拥有高素质的专业人才、科学的治理结构、完善的管理制度，尤其是在资源、物联网领域有着丰富的投资经验和行业整合资源，为企业提供多方位、一体化的增值金融服务。</p>
            </div>
            <ul class="list clearfix">
                <li class="wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.1s"><a href=""><div class="concernPic"><img src="../images/concernPic-1.png" alt=""></div><div class="concernText">资源新能源</div></a></li>
                <li class="wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.2s"><a href=""><div class="concernPic"><img src="../images/concernPic-2.png" alt=""></div><div class="concernText">人工智能</div></a></li>
                <li class="wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.3s"><a href=""><div class="concernPic"><img src="../images/concernPic-3.png" alt=""></div><div class="concernText">大金融</div></a></li>
                <li class="wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.4s"><a href=""><div class="concernPic"><img src="../images/concernPic-4.png" alt=""></div><div class="concernText">体育户外</div></a></li>
                <li class="wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s"><a href=""><div class="concernPic"><img src="../images/concernPic-5.png" alt=""></div><div class="concernText">生物基因</div></a></li>
            </ul>
            <a class="btn2 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.2s" href="">查看详细</a>
        </div>
    </section>
    <!--公司动态-->
    <section class="i-news">
        <div class="container">
            <div class="i-title wow fadeInUp animated" data-wow-duration="1.5s">
                <h3>News Center</h3>
                <h4>公司动态</h4>
            </div>
            <div class="i-news-warp clearfix">
                <div class="pic wow fadeInUp animated" data-wow-duration="1.5s">
                    <a href="">
                        <div class="picImg"><img src="../images/i-news-pic1.jpg" alt=""></div>
                        <div class="PicText">歌石控股公司将收购加拿大上市公司LITHIUM X ENERGY CORP.全部股份</div>
                    </a>
                    <div class="i-news-arr"><img src="../images/news-pic-jiantou.png" alt=""></div>
                </div>
                <ul class="textList">
                    <li class="wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <a href="">
                            <div class="time"> /   2017/12/11</div>
                            <h3>歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h3>
                            <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴大戏...</p>
                        </a>
                    </li>
                    <li class="wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <a href="">
                            <div class="time"> /   2017/12/11</div>
                            <h3>歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h3>
                            <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴大戏...</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-warp wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="moveBtn" href="">Read More →</a></div>
        </div>
    </section>
    <!--投资案例-->
    <section class="i-case">
        <div class="container">
            <div class="i-title wow fadeInUp animated" data-wow-duration="1.5s">
                <h3>Investment case</h3>
                <h4>投资案例</h4>
            </div>
            <div class="i-caseList wow fadeInUp animated" data-wow-duration="1.5s">
                <div class="flexslider flexslider3 carousel">
                    <ul class="slides">
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>1歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>2歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>3歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>4歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>5歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>6歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>4歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>5歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="i-case-warp">
                                <div class="pic"><img src="../images/i-case-pic1.png" alt=""></div>
                                <div class="text">
                                    <h4>6歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</h4>
                                    <p>8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴8月23日，记者从省委宣传部召开的新闻发布会上获悉，作为八一南昌起义暨中国人民解放军建军九十周年系列纪念活动中的压轴</p>
                                    <a href="">READ MORE &rarr;</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</main>

<footer class="i-footer">
    <div class="i-footer-top">
        <div class="row container">
            <div class="col-10 row">
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>关于歌石</h3>
                        <div class="link">
                            <a href="">公司简介</a>
                            <a href="">公司理念</a>
                            <a href="">关注行业</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>歌石团队</h3>
                        <div class="link">
                            <a href="">歌石团队</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>投资平台</h3>
                        <div class="link">
                            <a href="">投资平台</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>投资案例</h3>
                        <div class="link">
                            <a href="">投资案例</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>公司动态</h3>
                        <div class="link">
                            <a href="">公司动态</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>联系我们</h3>
                        <div class="link">
                            <a href="">加入我们</a>
                            <a href="">联系方式</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="ew-warp">
                    <div class="er-pic"><img src="../images/er-pic-130.png" alt=""></div>
                    <h4>歌石投资官网微信</h4>
                    <div class="link-fs clearfix">
                        <a href=""><i class="icon-f icon-f-wx"></i></a>
                        <a href=""><i class="icon-f icon-f-wb"></i></a>
                        <a href=""><i class="icon-f icon-f-qq"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="i-footer-bottom">
        <div class="container clearfix">
            <div class="fl">
                <div class="links">
                    <a href="">网站地图</a>
                    <a href="">法律声明</a>
                    <a href="">隐私保护</a>
                    <a href="">联系我们</a>
                </div>
                <div class="copy">
                    Copyright 2016 版权所有 歌石投资 京ICP备10213903号-3 <img src="../images/pic-cnzz.jpg" alt="">
                </div>
            </div>
            <div class="fr">
                <div class="select-warp">
                    <div class="select-t">友情链接</div>
                    <ul class="select-ul">
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="goTop" id="goTop" href="javascript:;"><img src="../images/goTop.jpg" alt=""></a>
<!--公共js-->
<script type="text/javascript" charset="utf-8" src="../js/commonality.js"></script>

<!-- 轮播 -->
<script type="text/javascript" charset="utf-8" src="../js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".flexslider1").flexslider({

            slideshowSpeed: 4000, //展示时间间隔ms
            animationSpeed: 100, //滚动时间ms
            directionNav: false,//是否显示左右控制按钮
            touch: true //是否支持触屏滑动
        });
        $(".flexslider2").flexslider({
            animation: "slide",
            slideshowSpeed: 3500, //展示时间间隔ms
            animationSpeed: 500, //滚动时间ms
            touch: false //是否支持触屏滑动
        });
        $(".flexslider3").flexslider({
            animation: "slide",
            animationLoop: false,
            directionNav: false,//是否显示左右控制按钮
            itemWidth: 200,
            itemMargin: 3,
            minItems: 2,
            slideshowSpeed: 5500, //展示时间间隔ms
            animationSpeed: 500, //滚动时间ms
            maxItems: 3
            // pausePlay: true
        });
    });
</script>

<!--wow.js-->
<script type="text/javascript" charset="utf-8" src="../js/wow.min.js"></script>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 50,
            mobile: true,
            live: true
        });
        wow.init();
    };
</script>





</body>
</html>
