<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>歌石投资</title>
    <link rel="stylesheet" href="../css/cube.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="../js/jquery.min.js"></script>
</head>
<body>

<!--顶部-->
<header class="clearfix i-header">
    <div class="h-logo">
        <h1><a href="index.html"><img src="../images/logo-img.png" alt="歌石投资"></a></h1>
    </div>
    <div class="menuBtn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="i-h-right">
        <a class="i-language" href="">EN</a>
        <span class="i-phone">咨询电话：010-63703500</span>
        <a href="" class="i-search"></a>
    </div>
    <nav class="i-nav">
        <span class="menuClose">×</span>
        <a href="gywm.html">关于歌石</a>
        <a href="gstd.html">歌石团队</a>
        <a href="tzpt.html">投资平台</a>
        <a href="tzal.html">投资案例</a>
        <a href="gsdt.html">公司动态</a>
        <a href="lxwm.html">联系我们</a>
        <span class="i-phone">咨询电话：010-63703500</span>
    </nav>
    <div class="sj-back-0"></div>
</header>
<div class="h-100 h-100-h"></div>

<main class="main">
    <!--轮播图-->
    <section class="n-banner" style="background-image: url('../images/dt-banner.jpg')"></section>
    <!--内页导航--> 
    <section class="InsideNavigation">
        <div class="container clearfix po-r">
            <ul class="taxon clearfix">
                <li class="on"><a href="javascript:;">公司动态</a></li>
            </ul>
            <div class="breadNav fr">
                <a href="">首页</a>&gt;<a href="">公司动态</a>&gt;<span>动态详情</span>
            </div>
        </div>
    </section>

    <!--公司动态-列表-->
    <section class="contact-warp container">
        <div class="xq-warp">
            <div class="h">
                <h3>上海歌金圆满完成三夫户外定增，一举成为三夫户外第三大股东</h3>
                <div class="info"><span>发布时间：2017-12-20 18:19:20</span><span>文章来源：歌石投资</span></div>
            </div>
            <div class="m">
                <p>2017年12月19日，三夫户外发布了《北京三夫户外用品股份有限公司非公开发行股票发行情况报告暨上市公告书》，歌石旗下之上海歌金企业管理有限公司成功获配三夫此次非公开发行股份中的6863704股，占发行后公司股本6.11%，一举成为三夫户外第三大股东。现将公告部分内容摘录如下。</p>
                <p>定增发行结果 <br>
                    根据《北京三夫户外用品股份有限公司非公开发行股票认购邀请书》规定的程序和规则，依据《上市公司证券发行管理办法》、《上市公司非公开发行股票实施细则》及其他相关规定，发行人和华金证券按照价格优先、金额优先、时间优先的原则，结合本次发行募集资金投资项目的资金需求量，确定本次非公开发行股票的发行价格为23.38元/股，发行数量为11,140,863股，募集资金总额为260,473,376.94元。 <br>
                    本次获配对象为包括发行人实际控制人张恒先生在内的3名发行对象，不超过10名。发行对象均以现金方式认购本次非公开发行的股票。 <br>
                    本次发行最终配售结果如下：</p>
                <img src="../images/xq-pic-554.jpg" alt="">
                <p>定增发行结果 <br>
                    根据《北京三夫户外用品股份有限公司非公开发行股票认购邀请书》规定的程序和规则，依据《上市公司证券发行管理办法》、《上市公司非公开发行股票实施细则》及其他相关规定，发行人和华金证券按照价格优先、金额优先、时间优先的原则，结合本次发行募集资金投资项目的资金需求量，确定本次非公开发行股票的发行价格为23.38元/股，发行数量为11,140,863股，募集资金总额为260,473,376.94元。 <br>
                    本次获配对象为包括发行人实际控制人张恒先生在内的3名发行对象，不超过10名。发行对象均以现金方式认购本次非公开发行的股票。 <br>
                    本次发行最终配售结果如下：</p>
            </div>
            <div class="f row">
                <a class="a1" href="">上一篇：歌石祥金与西藏珠峰签订投资并购基金战略合作框架协议</a>
                <a class="a2" href="">下一篇：歌石控股公司将收购加拿大上市公司LITHIUM X ENERGY CORP.全部股份</a>
            </div>
        </div>
    </section>
</main>


<footer class="i-footer">
    <div class="i-footer-top">
        <div class="row container">
            <div class="col-10 row">
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>关于歌石</h3>
                        <div class="link">
                            <a href="">公司简介</a>
                            <a href="">公司理念</a>
                            <a href="">关注行业</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>歌石团队</h3>
                        <div class="link">
                            <a href="">歌石团队</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>投资平台</h3>
                        <div class="link">
                            <a href="">投资平台</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-4">
                        <h3>投资案例</h3>
                        <div class="link">
                            <a href="">投资案例</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>公司动态</h3>
                        <div class="link">
                            <a href="">公司动态</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>联系我们</h3>
                        <div class="link">
                            <a href="">加入我们</a>
                            <a href="">联系方式</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="ew-warp">
                    <div class="er-pic"><img src="../images/er-pic-130.png" alt=""></div>
                    <h4>歌石投资官网微信</h4>
                    <div class="link-fs clearfix">
                        <a href=""><i class="icon-f icon-f-wx"></i></a>
                        <a href=""><i class="icon-f icon-f-wb"></i></a>
                        <a href=""><i class="icon-f icon-f-qq"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="i-footer-bottom">
        <div class="container clearfix">
            <div class="fl">
                <div class="links">
                    <a href="">网站地图</a>
                    <a href="">法律声明</a>
                    <a href="">隐私保护</a>
                    <a href="">联系我们</a>
                </div>
                <div class="copy">
                    Copyright 2016 版权所有 歌石投资 京ICP备10213903号-3 <img src="../images/pic-cnzz.jpg" alt="">
                </div>
            </div>
            <div class="fr">
                <div class="select-warp">
                    <div class="select-t">友情链接</div>
                    <ul class="select-ul">
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                        <li><a href="">百度一下</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="goTop" id="goTop" href="javascript:;"><img src="../images/goTop.jpg" alt=""></a>
<!--公共js-->
<script type="text/javascript" charset="utf-8" src="../js/commonality.js"></script>



</body>
</html>